body{
		width:100%;
		background-image: url("https://thumbs.gfycat.com/IncomparableSparseGreendarnerdragonfly-size_restricted.gif") ;
		background-repeat:no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
.gec{
	float:left;
	margin-top:-1%;
	height:100px;
	width:100px;
}
.header {
  height:100px;
  width:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-position:fixed;
  padding-bottom:50px;
}
.header h1{
	color:white;
	font-family:"Times New Roman", Times, serif;
    font-size:28px;
    text-shadow: 2px 2px #0000ff;
}
.header h4{
	color:white;
	font-size:15px;
	font-family:"Times New Roman", Times, serif;
    text-shadow: 2px 2px #0000ff;
}

}

  @media screen and (max-width: 700px) {
	  body{
		width:100%;
		background-image: url("https://thumbs.gfycat.com/IncomparableSparseGreendarnerdragonfly-size_restricted.gif") ;
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-size: cover;
	}
	 .header{
	  height:80px;
	  width:100%;
	   margin-top:-10px;
  }
  }
  
/*navigation bar*/
 .my-navbar {
 
  background-color: #668cff;
  border-color: #425766;
 
}
 
.my-navbar .navbar-brand {
  color: #fff;
  margin: 10 0 10px; 
}
 
.my-navbar .navbar-brand:hover, .my-navbar .navbar-brand:focus {color: #AAD5FF;}
 
.my-navbar .navbar-text {color: #d7e2e9;}
 
.my-navbar .navbar-nav > li > a {
  color: #fff;
  font-size:16px;
  font-family:"Times New Roman", Times, serif;
  }
 
.my-navbar .navbar-nav > li > a:hover, .my-navbar .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #b366ff;}
 
.my-navbar .navbar-nav > li > .dropdown-menu {
 background-color: #2894FF;}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #d7e2e9;}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #004182;}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #69899f;}
 
.my-navbar .navbar-nav > .active > a, .my-navbar .navbar-nav > .active > a:hover, .my-navbar .navbar-nav > .active > a:focus {
 
  color: 	 #aa80ff;
 
  background-color: #661aff	;
 
}
 
.my-navbar .navbar-nav > .open > a, .my-navbar .navbar-nav > .open > a:hover, .my-navbar .navbar-nav > .open > a:focus {
 
  color: #e5dbdb;
 
  background-color: #425766;
 
}
 
.my-navbar .navbar-toggle {
 
  border-color: #425766;
 
}
 
.my-navbar .navbar-toggle:hover, .my-navbar .navbar-toggle:focus {
 
  background-color: #425766;
 
}
 
.my-navbar .navbar-toggle .icon-bar {
 
  background-color: #d7e2e9;
 
}
 
.my-navbar .navbar-collapse,
 
.my-navbar .navbar-form {
 
  border-color: #d7e2e9;
 
}
 
.my-navbar .navbar-link {
 
  color: #d7e2e9;
 
}
 
.my-navbar .navbar-link:hover {
 
  color: 	 #aa80ff;
 
}

 
 
@media (max-width: 700px) {
	
 
  .my-navbar .navbar-nav .open .dropdown-menu > li > a {
 
    color: #d7e2e9;
 
  }
  
  .my-navbar .navbar-nav .open .dropdown-menu > li > a:hover, .my-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
 
    color: #e5dbdb;
 
  }
 
  .my-navbar .navbar-nav .open .dropdown-menu > .active > a, .my-navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .my-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
 
    color: #e5dbdb;
 
    background-color: #425766;
 
  }
 
}
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    
	
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      
      .row.content {height:auto;} 
    }

	}
.responsive {
  max-width: 100%;
  height:auto;
}
@media screen and (max-width: 700px) {
     .responsive {
  max-width: 100%;
  height:auto;
} 
}

.row{margin-top:-45px;}

 
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
  }
  .affix + .container-fluid {
    padding-top:50px;
  }


.box {
  margin:auto;
  width:70%;
  border:2px solid #0000ff;
  padding:10px;
  background: linear-gradient(to right,#0000ff,white,white,white,white,white,white,white,white,white,white,#0000ff);
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  margin:auto;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  margin-top: -8%;
  margin-left: 30%;
  text-align: center;
}




.panel{
	width:70%; 
	margin: auto;
	background: linear-gradient(to right,#0000ff,white,white,white,white,white,white,white,white,white,white,#0000ff);
}
.panel-heading{
	background: linear-gradient(to right,#0000ff,white,white,white,white,#0000ff);
	}
.panel-heading h4{
	color:#0000ff;
	}
.panel-title a:link{
	font-family:"Times New Roman", Times, serif;
	font-size:15px;
	text-decoration:none;
	color:#0000ff;
}
.panel-title a:hover{
	color:green;
}
.panel-body{
	text-align:left;
	margin-left:80px;
}

/**CSS for Mobile view*********************************************************************/
@media screen and (max-width: 700px) {
	.gec{
	float:left;
	margin-top:-2%;
	height:100px;
	width:100px;
}
  .box {  
  margin:auto;
  width:90%;
  border:2px solid #0000ff;
  padding:0px;
  background: linear-gradient(to right,#0000ff,white,white,white,white,white,white,white,white,white,white,#0000ff);
}

.image {
	margin:auto;
	width:80%;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  margin-top: -21%;
  margin-left: 30%;
  text-align: center;
}




.text {
  background-color: white;
  color: green;
  font-size: 12px;
  padding: 10px 12px;
}
.box:hover {
  opacity: 0.3;
}

.box:hover {
  opacity: 1;
}
.panel{
	width:90%; 
	margin: auto;
	background: linear-gradient(to right,#0000ff,white,white,white,white,white,white,white,white,white,white,#0000ff);
}
.panel-heading{
	background: linear-gradient(to right,#0000ff,white,white,white,white,white,#0000ff);
	}
.panel-title{
	font-family:"Times New Roman", Times, serif;
}
.panel-body{
	text-align:left;
	margin-left:30px;
}

}